body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu';
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: 0.41;
    z-index: 1;
}

.header-container {
    margin-left: 79px;
    margin-right: 79px;
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2;
}

.header-title {
    padding: 18px 0;
}

.header-title-link {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: white;
}

.header-title-link:hover {
    color: #3CB878;
}

.header-menu {
    display: flex;
    padding: 18px 0;
}

.header-menu-icons a {
    margin-right: 25px;
}

.header-menu-icons a svg:hover {
    fill: #3CB878;
}

svg {
    fill: white;
}

.header-menu-entry {
    padding-left: 27px;
    align-self: center;
    font-size: 14px;
    line-height: 19px;
    border-left: 1px solid white;
}

.header-menu-entry a {
    color: white;
}

.header-menu-entry a:hover {
    color: #3CB878;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 30px;
    overflow: auto;
}

.main-popup {
    box-sizing: border-box;
    position: relative;
    width: 444px;
    padding: 31px 60px 38px 60px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    overflow: auto;
}

.main-popup-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main-popup-entry span:nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.main-popup-entry span:nth-child(1)::before {
    content: url('../img/shape.png');
    position: absolute;
    left: 0;
}

.main-popup-entry span:nth-child(2) {
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main-popup-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.main-popup-social a {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

.main-popup-social-facebook {
    padding: 17px 22px 17px 67px;
    border-radius: 5px;
    background-color: #305DB8;
}

.main-popup-social-facebook::before {
    content: url('../img/facebook.png');
    position: absolute;
    left: 17px;
    top: 12px;
}

.main-popup-social-facebook:hover {
    background-color: #022263;
}

.main-popup-social-google {
    padding: 17px 27px 17px 80px;
    border-radius: 5px;
    background-color: #DF4A32;
}

.main-popup-social-google::before {
    content: url('../img/google.png');
    position: absolute;
    left: 12px;
    top: 15px;
}

.main-popup-social-google:hover {
    background-color: #AB1F09;
}

.main-popup-or {
    display: flex;
    text-align: center;
    margin-bottom: 12px;
}

.main-popup-or span {
    padding: 0 5px;
}

.main-popup-or hr {
    display: inline-block;
    width: 152px;
    border: 1px solid #F2F2F2;
}

.main-popup-form {
    display: flex;
    flex-direction: column;
}

.main-popup-form input {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.main-popup-form input:active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main-popup-form input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main-popup-form input:last-child {
    margin-bottom: 12px;
}

.main-popup-form-agree {
    position: relative;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #434343;
}

.main-popup-form-agree span {
    color: #01813F;
}

.main-popup-form-agree input {
    border: none;
    box-shadow: none;
    appearance: none;
    position: absolute;
}

.main-popup-form-agree input:active {
    border: none;
    box-shadow: none;
}

.main-popup-form-agree input:focus {
    border: none;
    box-shadow: none;
}

.main-popup-form-agree-label {
    padding-left: 28px;
}

.main-popup-form-agree-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-popup-form-agree-label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/checkbox.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.main-popup-form-agree-checkbox:checked+.main-popup-form-agree-label::after {
    opacity: 1;
}

.main-popup-form-btn {
    padding: 16px 99px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.main-popup-form-btn:hover {
    background-color: #01813F;
}